
<body>
    <!-- Fond Porfil -->
    <div class="profile">
  

      <!-- Image Profile-->
      <div class="cadreImage"> 
        <img [src]="user.urlFile" >

        <label for="file" class="label-file">Choisir une image</label>
        <input id="file" 
        class="input-file" 
        type="file" 
        (change)="changePicture($event)">
    
      </div>

      <!-- Barre Profile -->
      <div class="borderProfil"  *ngIf="!isUserProfil; else elseProfil">

        <div class="username">
          {{user.username}}
        </div>
      

          <div class="cadreItem">

            <div  class="item">

              <div *ngIf="isContact; else elseBlock">

              <div class="titleButton">Supprimer ce contact </div> 

                      <!-- Bouton delete User -->
                      <p-button type="button" 
                      styleClass="p-button-danger p-button-rounded"
                      matTooltip="Supprimer ce contact "
                      icon="pi pi-times-circle"
                      (click)="deleteContact(user.id)"></p-button>
              </div>
            
          

              <ng-template #elseBlock  >
              <div >

                <div class="titleButton">Ajouter cet user</div>
                <!-- Bouton ajout User -->
                <p-button type="button" 
                styleClass="p-button-success p-button-rounded "
                matTooltip="Ajout User"
                icon="pi pi-user-plus"
                (click)="addUser(user.id)"></p-button>
              
              </div>
              </ng-template>


            </div>

            <div class="item">

              <div>
                <div class="titleButton">Envoyer un message</div>

                <!-- btn Chat-->
                <p-button  type="button"  styleClass="p-button-secondary
                p-button-rounded "
                icon="pi pi-telegram"
                matTooltip="Discutter"
                (click)="contact(user.id_chat)"
                ></p-button>
              </div>
          
        
          
            </div>

          </div>

         
          
        <div>
          
        </div>

      </div>
      
      <ng-template #elseProfil  >

           <div class="secondProfil">

            <div class="cadreUsername">
              <div class="username">{{user.username}}</div> 
            </div>
              

              <div class="secondButton" >
                <button pButton 
                matTooltip="Modifier votre Image de profile"
                type="file"  
                icon="pi pi-cog" 
                class="p-button-rounded p-button-info"
                
               (click)="updateProfile(user.id)">

                </button>

              </div>

           </div>
         
      </ng-template>

    </div>

<app-publication-profile></app-publication-profile>
</body>
