

    <div class="fondProfil">

    </div>


  
    <div *ngIf="isContact && user.username!= currentUser.username">
      <p>L'user {{user.username}} est ami avec {{currentUser.username}}</p>

      <p-button type="button" styleClass="p-button p-button-rounded p-mr-2"
      icon="pi pi-trash"
      matTooltip="Supprimer des contacts "
      (click)="deleteContact(user.id)"></p-button>

    </div>



   
   

     <div class="borderProfil">
  
         <div>{{user.username}}</div>

        <div>
        <img [src]="user.urlFile" [alt]="user.username">
        </div>

        <div>
          <p-button type="button" styleClass="p-button p-button-rounded p-mr-2"
          icon="pi pi-trash"
          matTooltip="Supprimer des contacts "
          (click)="deleteContact(user.id)"></p-button>
        </div>
    <div>

     


     <div style="margin: 20px;">
      <form class="image-picture" [formGroup]="myForm" (ngSubmit)="updateProfilePicture()" >

        <div class="form-group section">
          <label for="file">Choisissez votre nouvelle image : </label>
          <input 
              formControlName="file"
              id="file" 
              type="file" 
              class="form-control content2"
              (change)="onFilePicture($event)">

              <!-- Alert -->
              <div *ngIf="f['file'].touched && f['file'].invalid" class="alert alert-danger">
                <div *ngIf="f['file'].errors && f['file'].errors['required']">File is required.</div>
            </div>
      </div>

      <button class="btn btn-primary button" type="submit">Partager</button>
      </form>

    </div>

<app-publication-profile></app-publication-profile>