<body>

<div class="corps">

    <form [formGroup]="eventForm" (ngSubmit)="fileUpdate()">

        <!-- map component-->
      <div class="row-map">

          <agm-map  [latitude]="lat" [longitude]="lng"
           >
              <agm-marker *ngFor="let marker of markers"
              [latitude]="marker.latitude" [longitude]="marker.longitude"
              [label]="marker.label"
              [markerDraggable]="true"
              (dragEnd)="markerDragEnd(marker.id, $event.coords.lat, $event.coords.lng)">
              </agm-marker>

          </agm-map>
      
          <div class="btnMap">

              <div >
                  <button class="btn btn-primary"
                  type="button" (click)="addMarker(lat, lng)">
                       Ajouter un marker
                  </button>
              </div>
          
              <div>

                  <input 
                      formControlName="file"
                      id="file" 
                      type="file" 
                      multiple
                      class="form-control content2"
                      placeholder="Ajouter des fichiers s"
                      (change)="addFile($event)">

              </div>
              
          </div>
           
      </div>

      
      <!-- formulaire -->
      <div class="row-formulaire">

          <div class="line-top">
              <div class="form-group section">
                  <label for="name">Nommez l'évenement  : </label>
                  <input 
                  formControlName="name"
                      id="name" 
                      type="text" 
                      class="form-control content"
                      placeholder="Nom de l'évenement">
              </div>

              <div class="form-group section">
                  <label for="contenu">Date début  : </label>
                  <input 
                  formControlName="dateDebut"
                      id="dateDebut" 
                      type="date" 
                      class="form-control content"
                      placeholder="date du début ">
              </div>

            
              <div class="form-group section">
                  <label for="contenu">Date Fin  : </label>
                  <input 
                  formControlName="dateFin"
                      id="dateFin" 
                      type="date" 
                      class="form-control content"
                      placeholder="Date de fin ">
              </div>
          </div>
       
          <div class="line-bot">

           
              <div class="form-group section">
                  <label for="contenu">Expliquez l'évenement  : </label>
                  <input 
                  formControlName="contenu"
                      id="contenu" 
                      type="text" 
                      class="form-control content"
                      placeholder="Résumer l'evenement">
              </div>

          </div>
      </div>

      <div class="btn-line">
          <button class="btn btn-primary button" type="submit">Valider</button>

      </div>
  </form>

  <mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
</div>
</body>
