


<div class="create-side">

    <div  *ngIf="isLoggedIn; else disconnected" >

        <app-create-publication></app-create-publication>
    </div>

        
    <ng-template  #disconnected>

        <div class="disconnected-side">
            <button type="button" class="btn btn-info">
                <a href="/login">Login</a>
            </button>

            <button type="button" class="btn btn-info">
                <a href="/register">Sign Up </a>
            </button>
        </div>
    
    </ng-template>
</div>


<div class="publication-side">

    <app-publication-public></app-publication-public>
</div>



<footer></footer>