
<body>

    <!---Liste evchats event -->
    <div class="section">
        <div class="section-titre">
            Liste Events : 
        </div>
        <ul *ngFor="let event of eventsUser">
            <li >
                <div class="li-list">

                    <div> 
                        {{event.name}} 
                    </div>

                    <div>
                        <!-- btn Chat-->
                        <p-button  type="button"  styleClass="p-button-secondary
                        p-button-rounded "
                        icon="pi pi-telegram"
                        matTooltip="Discutter"
                        (click)="contact(event.id_chat)"
                        ></p-button>
                    </div>

                
                </div>
            </li>       
        </ul>
    </div>
   

</body>