
body
{
    background-color: rgba(233, 236, 239,0.3);
    background-color: rgba(233, 236, 239,0.5);
    border-style: inset;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    height: auto;
}

.section
{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgba(173, 181, 189,0.2);
    border-radius: 10px;
}

.section-titre
{
    font-size: 20px;
    text-decoration: underline;
    margin: 5px;
}
.li-list 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(108, 117, 125,0.1);
    border-radius: 10px;
}

ul
{
    list-style-type: circle;
}