<head>
    <meta charset="utf-8">
    <title>Tutorial</title>
      
    <!--font library is loaded prior to using mat-icons-->
      
    <link href=
  "https://fonts.googleapis.com/icon?family=Material+Icons&display=block" 
          rel="stylesheet">
  
</head>

  <!-- Menu -->
  <header>
    <div>
      
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          
        <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- logo -->
        <a class="navbar-brand" routerLink="home"
        routerLinkActive="active" >
          <img [src]="icon" alt="" width="50" height="50">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" >

          <!-- lien -->
          <ul class="navbar-nav d-flex justify-content-around p-2 " routerLinkActive="active">

            <li class="nav-item">
                <a routerLink="products" routerLinkActive="active" 
                class="nav-link">Nature</a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link" routerLink="event"
                routerLinkActive="active" >Evenement </a>
            </li>

    

            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          
            <li class="nav-item">
              <a  class="nav-link" routerLink="uploadFile"
              routerLinkActive="active" >upload File S3  </a>
            </li>
    
            <li class="nav-item"  *ngIf="!isLoggedIn">
              <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
            </li>
            <li class="nav-item"  *ngIf="!isLoggedIn">
              <a href="/login" class="nav-link" routerLink="login">Login</a>
            </li>
            

            <li class="nav-item" *ngIf="isLoggedIn">
              <a [routerLink]="['profile/', user.id]"   routerLinkActive="active"  class="nav-link" >{{ user.username }}</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
              <a href class="nav-link" (click)="logout()">LogOut</a>
            </li>
        </ul>


        </div>
      
      </nav>
  </div>

  </header>

<body>


  <div class="container2" *ngIf="isLoggedIn" >



    <div class=" col-9">
      <router-outlet></router-outlet>
    </div>

    <div class="col-3"  >
      <app-contact></app-contact>
    </div>
  

  </div>

  <div class="container" *ngIf="!isLoggedIn">
     <router-outlet></router-outlet>

  
  </div>

 
   

  
    

<!--
<footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2021 @Honor</span>
    </div>
</footer>
-->
</body>