<head>
    <meta charset="utf-8">
    <title>Tutorial</title>
      
    <!--font library is loaded prior to using mat-icons-->
      
    <link href=
  "https://fonts.googleapis.com/icon?family=Material+Icons&display=block" 
          rel="stylesheet">
  
</head>

 <app-menu></app-menu>

<body>


  <div class="container2" *ngIf="isLoggedIn" >




      <div class=" col-9">
        <router-outlet></router-outlet>
      </div>
  
      <div class="col-3" >
        <app-table></app-table>
        <app-contact></app-contact>
      </div>



  

  </div>

  <div class="container" *ngIf="!isLoggedIn">
     <router-outlet></router-outlet>

  
  </div>

 
   

  
    

<!--
<footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2021 @Honor</span>
    </div>
</footer>
-->
</body>