<body>
    <form class="cadre" [formGroup]="myForm" (ngSubmit)="newFileUpdate()">
  
        <div class="left">

                <!--  content -->
                <div class="form-group section">
                    <label for="contenu">Exprimez vous : </label>
                    <input 
                    formControlName="contenu"
                        id="contenu" 
                        type="text" 
                        class="form-control content"
                        placeholder="Partagez vos experiences">
                </div>

                <!-- file -->
                <div class="form-group section">
                    <label for="file">Ajoutez des images </label>
                    <input 
                        formControlName="file"
                        id="file" 
                        type="file" 
                        multiple
                        class="form-control content2"
                        (change)="onFileChange($event)">
                    
                </div>

                <div >
                    <button class="btn btn-primary button" 
                    type="submit">Partager</button>
                </div>

        </div>

        <div class="right ">

                <!-- map -->
                <div>
                    
                    <agm-map  [latitude]="lat" [longitude]="lng"
                    >
                        <agm-marker *ngFor="let marker of markers"
                        [latitude]="marker.latitude" [longitude]="marker.longitude"
                        [label]="marker.label"
                        [markerDraggable]="true"
                        (dragEnd)="markerDragEnd(marker.id, $event.coords.lat, $event.coords.lng)">
                        </agm-marker>
        
                     </agm-map>
                </div>
                <div >
                    <button class="btn btn-primary button"
                    type="button" (click)="addMarker(lat, lng)">
                         Ajouter un marker
                    </button>
                </div>
            

        </div>


     
       
    </form>


    <mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
</body> 
            
