

<body>
    
    <div class="cadre">
        
        <div>


            <form (ngSubmit) = "onSubmit()">

                <div
                class="custom-dropzone"
                ngx-dropzone
                [accept]="'image/*'"
                (change)="onSelect($event)" >

                    <ngx-dropzone-label>
                        <div>
                        <h2>Try me! Just a Click away :)</h2>
                        </div>
                    </ngx-dropzone-label>

                    <ngx-dropzone-image-preview
                    ngProjectAs="ngx-dropzone-preview"
                    *ngFor="let f of files"
                    [file]="f"
                    [removable]="true"
                    (removed)="onRemove(f)"
                    >

                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-image-preview>


                <div class="form-group">
                    <label >Contenu : </label>
                    <textarea class="form-control" 
                    id="content"
                 [(ngModel)]="publication.contenu" name="content" >
                </textarea>
                </div>

                <div class="btn-side">

                    <button class="btn btn-success" type="submit" >
                        Publier
                    </button>

                </div>

                </div>
            </form>
     

          
        </div>

    </div>

</body>
