
.cadre
{

    border-radius: 5px;
    margin: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

   
}


.create-side
{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.content
{
    height: 70px;
}

.button
{
    width: 20%;
    display: block;
    margin: 0 auto;
}