
<div class="list">

    <div *ngFor="let event of events " class="cadre " >


            <div class="side-name">
                {{event.name}}
            </div>
      
            <div class="line-toggle">
    
                <div class="btn-toggle">
                    <mat-slide-toggle 
                    [(ngModel)]="event.checkedMarker" 
                    >
                    </mat-slide-toggle>
             
                </div>
                  
            </div>
            
        
            <div class="toggle">
                <div *ngIf="!event.checkedMarker" class="side-file">

                <ngb-carousel 
                [showNavigationArrows]="true" 
                    [showNavigationIndicators]="true"
                    [interval]="20000"
                    [keyboard]="true"
                    [pauseOnHover]="true"
                    [wrap]="true"
                    [activeId]="'sliderThree'">
                        <ng-template ngbSlide *ngFor="let image of event.listFileAPI"> 
                            <div class="picsum-img-wrapper">
                                <img [src]="image.url" [alt]="image.name">
                            </div>
                            <div class="carousel-caption">
                                <!-- 
                                <h3>Title</h3>
                                <p>Aenean malesuada nisi ut commodo semper.</p>
                                -->
                            </div>
    
    
                        </ng-template>
    
                    
    
                    </ngb-carousel>
                </div>
    
                <div *ngIf="event.checkedMarker" class="side-map"> 

                    <div >
                        <agm-map  [latitude]="lat" [longitude]="lng">

                            <agm-marker *ngFor="let marker of event.listMarker"
                            [latitude]="marker.latitude"
                            [longitude]="marker.longitude"
                            [label]="marker.label">
                            
                            </agm-marker>
                
                        </agm-map>
                    </div>
                    
                    </div>
            </div>

            <div class="content">

                <div class="section-content">
                  <div>Date debut   {{event.dateDebut }}</div>
                  <div>Date fin : {{event.dateFin}}</div> 
                </div>
    
             
                <div class="section-content">
                   <p>Content : {{event.contenu}}</p> 
                </div>
                
            </div>
  

            <div class="line-button">
             
                <!-- btn Participer /when user don't participe on event  -->
                <p-button  *ngIf="!event.isParticiped"
                matTooltip="Participer" type="button" 
                styleClass="p-button-rounded p-button-success"
                
                        (click)="addParticipant(event.id)">

                <mat-icon>public</mat-icon>
                {{event.listParticipant.length}}
                </p-button>

                   <!-- btn delete  /when user participe on event  -->
                   <p-button  *ngIf="event.isParticiped"
                   matTooltip="Ne plus participer" type="button" 
                   styleClass="p-button-rounded p-button-success"
                   
                           (click)="deleteParticipant(event.id)">
   
                           <mat-icon>event_busy</mat-icon>
                   {{event.listParticipant.length}}
                   </p-button>
   


                <!-- btn Commenter -->
                <p-button type="button" 
                styleClass="p-button-rounded p-button-info"
                matTooltip="Commenter"
                
                (click)="event.isClickedComment=!event.isClickedComment">

                    <mat-icon>comment</mat-icon>
                   {{event.listComments.length}}
                </p-button>

            </div>



            

             <!------------- Comments -------------> 
             <!-- Comments -->
            <div *ngIf="event.isClickedComment; ">
        
                <app-comment-event [eventRequest] ="event"></app-comment-event>
            </div>      



    </div>
    
    
</div>


