
<div class="cadreTitle">
    <div class="title">
        {{chat.name}}
    </div>
    
</div>



    <div class="container">
        <div class="chat-content">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let chatMessage of
                     webSocketService.chatMessages">
                        <strong>{{chatMessage.username}}: </strong>
                        <span>{{chatMessage.content}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
            <div class="chat-send row">
               
                <div class="col-8">
                    <input type="text" class="form-control" name="message" id="input-message" ngModel>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>
