.chat {
    margin-top: 10rem;
}

div.chat-content {
    border-radius: .25rem;
    height: 40rem;
    margin-bottom: 2rem;
    overflow: scroll;
}

.card {
    height: 100%;
}

.cadreTitle
{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title
{
    text-align: center;
    font-size: 25px;
}