<body>

    <!-- List Contact -->
    <div class="section">
        <div class="section-titre">
            Liste Contacts : 
        </div>
        <div>
            <ul  *ngFor="let user of listContact" >
                <li>
                    
                   <div class="li-list">
                       <div>
                        {{user.username}}
                       </div>
                      <div>

                   <!-- btn Profile-->
                   <p-button  type="button"  styleClass="p-button
                   p-button-rounded "
                   icon="pi pi-user"
                   matTooltip="Voir le profile"
                   (click)="getContact(user.id)"
                   ></p-button>
          
        
                   <!-- btn Chat-->
                   <p-button  type="button"  styleClass="p-button-secondary
                   p-button-rounded "
                   icon="pi pi-telegram"
                   matTooltip="Discutter"
                   (click)="contact(user.id_chat)"
                   ></p-button>
                      </div> 
        
                </div> 
                </li>
            </ul>
        </div>
    </div>
    

    <!-- Suggest Contact -->
    <div class="cadre">

        <p-carousel [value]="listSuggest" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
            
            <ng-template pTemplate="header">

              <div class="section-titre">Contact Suggéré :</div>

            </ng-template>
            
            <ng-template let-user pTemplate="item">

                <div class="user-item">
                    <div class="user-item-content">
                    
                
                            <div >{{user.username}}</div>

                    
                            <div class="car-buttons ">
                                <!-- Bouton detail User -->
                                <p-button type="button" styleClass="p-button p-button-rounded"
                                icon="pi pi-user"
                                matTooltip="Voir le Profile"
                                (click)="getUserProfil(user.id)"
                                ></p-button>

                                <!-- Bouton ajout User -->
                                <p-button type="button" *ngIf="!user.invitedForContact"
                                styleClass="p-button-success p-button-rounded "
                                matTooltip="Ajout User"
                                icon="pi pi-user-plus"
                                (click)="addUser(user.id)"></p-button>

                            </div>


               
                    </div>
                </div>

            </ng-template>
        </p-carousel>


    </div>

    <!-- Invitation Contact-->
    <div class="section">
        <div class="section-titre">
            Liste Demande d'invitation envoyé : 
        </div>
        <div>
            <ul  *ngFor="let user of lUserInvited" >
                <li>
                    <div class="li-list">

                        <div>
                            {{user.username}}
                        </div>
        
                        <div >
                            <!-- btn cancel demande -->
                            <p-button type="button" 
                            styleClass="p-button-danger p-button-rounded p-mr-2"
                            icon="pi pi-times-circle"
                            matTooltip="Annuler l'invitation"
                            (click)="cancelDemande(user.id)"
                            ></p-button>

                        </div>
                                        
                    </div>

                </li>
        
            
            </ul>
        </div>
        
    </div>


    <!-- Invitation Recu -->
    <div class="section">
        <div class="section-titre">
            Liste Invitation recus: 
        </div>
        <div>
            <ul  *ngFor="let user of lDemandeInvitation" >
                <li>
                    <div class="li-list">
                        <div>
                         {{user.username}}
                        </div>
                       <div>
 
                    <!-- btn Accepte-->
                    <p-button  type="button"  styleClass="p-button
                    p-button-rounded "
                    icon="pi pi-thumbs-up"
                    matTooltip="Accepter l'invitation"
                    (click)="acceptDemand(user.id)"
                    ></p-button>
           
         
                    <!-- btn Decliner-->
                    <p-button  type="button"  styleClass="p-button-danger
                    p-button-rounded "
                    icon="pi pi-trash"
                    matTooltip="Decliner l'invitation"
                    (click)="refuseDemande(user.id)"
                    ></p-button>
                       </div> 
         
                 </div> 

                </li>
            </ul>
        </div>
    </div>


</body>
