<p>contact works!</p>


<div>
    Liste Contacts : 
</div>
<div>
    <ul  *ngFor="let user of listContact" >
        <li>{{user.username}}</li>

           <!-- btn Profile-->
           <p-button type="button" styleClass="p-button p-button-rounded p-mr-2"
           icon="pi pi-user"
           matTooltip="Voir le profile"
           (click)="getContact(user.id)"
           ></p-button>
   
    </ul>
</div>

<div>
    Liste Demande d'invitation envoyé : 
</div>
<div>
    <ul  *ngFor="let user of lUserInvited" >
        <li>{{user.username}}</li>

      <!-- btn Accept-->
      <p-button type="button" styleClass="p-button p-button-rounded p-mr-2"
      icon="pi pi-chevron-circle-down"
      matTooltip="Accepeter l'invitation"
      (click)="acceptDemand(user.id)"
      ></p-button>

        <!-- btn Refuse demande -->
        <p-button type="button" styleClass="p-button-danger p-button-rounded p-mr-2"
        icon="pi pi-times-circle"
        matTooltip="Annuler l'invitation"
        (click)="acceptDemand(user.id)"
        ></p-button>
  
    </ul>
</div>


<div>
    Liste Invitation recus: 
</div>
<div>
    <ul  *ngFor="let user of lDemandeInvitation" >
        <li>{{user.username}}</li>
    </ul>
</div>



