ul
{
    width: 100%;
}

nav
{
   margin-bottom: 5px;
   border-style: none solid none solid;
   border-radius: 5px;
   background-color: rgba(173, 181, 189,0.2);
}

ul
{

}

.nav-item
{
    display: flex;
    align-items: center;
    border-style: ridge;
    border-radius: 15px;
    font-size: 17px;
    background-color: rgba(206, 212, 218, 0.2);
}

.navbar-light .navbar-nav .nav-link.active
{
    background-color:rgba(108, 117, 125, 0.2);
    border-radius: 10px;
}


.nav-item :hover
{
    text-decoration: underline;
    background-color: rgba(222, 226, 230, 0.5);
  
    border-radius: 15px;
    
}

.searchSection
{
    display: flex;
    flex-direction: row;
    margin: 10px;
  align-items: center;
}

