<body>

  <!-- Menu -->
  <div>
      
      <nav class="navbar navbar-expand-lg navbar-light ">
          
        <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- logo -->
        <a class="navbar-brand" routerLink="home"
        routerLinkActive="active" >
          <img [src]="icon" alt="" width="50" height="50">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" >

          <!-- lien -->
          <ul class="navbar-nav d-flex justify-content-around p-2 " routerLinkActive="active">

            <li class="nav-item">
                <a routerLink="nature" routerLinkActive="active" 
                class="nav-link">Nature</a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link" routerLink="event"
                routerLinkActive="active" >Evenement </a>
            </li>

    

            <li class="nav-item">

              <div class="searchSection">
                
                <div>
                  <mat-form-field>
                    <input type="text" 
                    placeholder="Search here"
                     matInput
                      [formControl]="secondControl"
                      [matAutocomplete]="auto">
                      
                      <div class="sectionComplete">
                        <mat-autocomplete autoActiveFirstOption 
                        #auto="matAutocomplete">
                          <mat-option *ngFor="let user of userFilter | async"
                          [value]="user">
                            {{user}}
                          </mat-option>
                        </mat-autocomplete>
                      </div>
                  </mat-form-field>
                  
                </div>
           
  
                <div class="searchButton" >

                    <button 
                    type="submit" (click)="search()">
                      Recherche
                    </button>


                </div>
               
              </div>
           
           
            </li>
       
            <li class="nav-item"  *ngIf="!isLoggedIn">
              <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
            </li>
            <li class="nav-item"  *ngIf="!isLoggedIn">
              <a href="/login" class="nav-link" routerLink="login">Login</a>
            </li>
            

            <li class="nav-item" *ngIf="isLoggedIn">
              <a [routerLink]="['profile/', user.id]"   routerLinkActive="active"  class="nav-link" >{{ user.username }}</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
              <a href class="nav-link" (click)="logout()">LogOut</a>
            </li>
        </ul>


        </div>
      
      </nav>
  </div>


</body>