.list
{
    display: flex;
    flex-direction: column;
    

}

.colonne
{
    min-height: 200px;
    
}

.cadre
{
    border: solid;
    margin: 20px;
    border-radius: 5px;
    border-color: aliceblue;
    background-color: rgba(31,178,245,0.1);
}

.side-title
{
    
}

.side-file
{

}


.side-content
{

}

.side-buton
{

}

.cadreComment
{
    display: none;
    
}

.comment
{
    background-color: rgba(62, 136, 170, 0.3);
}

.createComment
{
    
}

