.list
{
    display: flex;
    flex-direction: column;
    

}

.colonne
{
    min-height: 200px;
    
}

.cadre
{
    border: solid;
    margin: 20px;
    border-radius: 5px;
    border-color: aliceblue;
    background-color: rgba(31,178,245,0.1);
}

.side-top
{
    display: flex;
 
    justify-content: space-between;
}

.side-title
{
    
}

.side-btn-pub
{
    display: flex;
    flex-direction: row-reverse;
}

.side-btn-pub button
{
   border-radius: 20px;
}

.side-btn-pub button:hover
{
   background-color: rgba(224,172,22,0.5);
}



.side-file
{

}


.side-content
{

}

.side-buton
{

}

.cadreComment
{
    display: none;
    
}

.comment
{
    background-color: rgba(62, 136, 170, 0.3);
}

.createComment
{
    
}

