<div class="list">
    <div class="colonne">
    
    <div class="cadre" *ngFor="let publication of publications" >

        <div class="side-title">
        <p>{{publication.username}}</p>
        <p> ID : {{publication.id}} </p>
        </div>


        <div>
            <button mat-icon-button  
            mat-raised-button
            matTooltip="Modifier"> 
                <mat-icon>stop</mat-icon>
              </button>

              <button mat-icon-button 
              mat-raised-button
              matTooltip="Supprimer"> 
                <mat-icon>close</mat-icon>
              </button>
        </div>
  
        <div class="side-file" *ngFor="let file of publication.listFile">
            <img [src]="file.url" alt={{file.name}} />
        </div>

        <div class="side-content">
            <p>{{publication.contenu}}</p>
            
        </div>

        <div class="side-butons">

            <button type="button" class="btn btn-info"  
            matTooltip="Like" *ngIf="publication.liked" (click)="publicationLiked(publication)"
                [disabled]="publication.liked">
                <mat-icon>favorite</mat-icon>{{publication.countLike}}
            </button>

            <button type="button" class="btn btn-info" 
            matTooltip="Like" *ngIf="!publication.liked" (click)="publicationLiked(publication)">
                <mat-icon>favorite_border</mat-icon>{{publication.countLike}}
            </button>
        
            <button type="button" class="btn btn-info"
               matTooltip="Comment" 
                            (click)="getCommentsByPublication(publication.id)">
                            <mat-icon>comment</mat-icon>
            </button>

        </div>

        <!-- Comments -->
        <div  id="{{publication.id}}"  class="cadreComment" >

            <!-- Affichage -->
            <div *ngFor="let comment of publication.listComments"> 

                <div  class="comment">
                    <p>{{comment.username}}</p>
                    <p>{{comment.contenu}}</p>
                    <p>{{comment.countLike}}</p>
                </div>

                <div>
                    <button type="button" class="btn btn-info"  
                    matTooltip="Like" *ngIf="publication.liked" 
                    (click)="commentLiked(comment.id)"
                        [disabled]="publication.liked">

                        <mat-icon>favorite</mat-icon>
                    </button>
        
                    <button type="button" class="btn btn-info" 
                    matTooltip="Like" *ngIf="!publication.liked" 
                    (click)="commentLiked(comment.id)">

                        <mat-icon>favorite_border</mat-icon>
                    </button>

                </div>
              
    
            </div>
     
            <div class="createComment">
                <form  [formGroup]="commentForm" (ngSubmit)="createComment(publication.id)">
                    <!-- Create -->
                    <div  class="form-group">
                        <label for="contenu">
                            Votre Commentaire : 
                        </label>
                        <input
                        formControlName="contenu"
                        id="contenu" 
                        type="text" 
                        class="form-control content"
                        placeholder="Participez">
    
                    </div>
    
                   <button class="btn btn-primary button" type="submit">Partager</button>
               
                </form>
            </div>

            
           
       
        </div>

    </div>



    </div>
</div>