

<!-- map.component.html -->
<agm-map [latitude]="lat" [longitude]="lng" 
 (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">

  <agm-marker *ngFor="let marker of markers"
  [latitude]="marker.lat" [longitude]="marker.lng"
  [label]="marker.label"
  [markerDraggable]="marker.draggable"
  (markerClick)="selectMarker($event)"
  (dragEnd)="markerDragEnd($event.coords)">
</agm-marker>
</agm-map>

<div>
  Selected Marker is: Longitude {{selectedMarker.latitude}} Latitude {{selectedMarker.longitude}}
</div>